<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="field">
    <label for="betted_team" class="label">Team</label>
    <div class="control">
      <input
        id="betted_team"
        type="number"
        formControlName="betted_team"
        placeholder="Team"
        class="input is-rounded"
      />
    </div>
  </div>
  <div class="field">
    <label for="amount" class="label">Amount</label>
    <div class="control">
      <input
        type="number"
        formControlName="amount"
        placeholder="Amount"
        class="input is-rounded"
      />
    </div>
  </div>
  <div class="field">
    <label for="odd" class="label">Odd</label>
    <div class="control">
      <input
        id="odd"
        type="number"
        formControlName="odd"
        placeholder="Odd"
        class="input is-rounded"
      />
    </div>
  </div>
  <p class="control">
    <button class="button is-success is-rounded">New Bet</button>
  </p>
</form>

<div *ngIf="match?.totals?.equalize?.amount! > 0">
  Bet {{ match?.totals?.equalize?.amount?.toFixed(2) }} on team
  {{ match?.totals?.equalize?.teamName }} at odd
  {{ match?.totals?.equalize?.odd?.toFixed(2) }} to equalize your bets.
</div>

<h2>Bet history</h2>
<h3>{{ match?.team_one }}</h3>
<table class="table">
  <thead>
    <tr>
      <th>Amount</th>
      <th colspan="2">Odd</th>
    </tr>
  </thead>
  <tbody>
    <td *ngIf="!getTeamBets(1)?.length">No bets yet.</td>
    <ng-template [ngIf]="getTeamBets(1)?.length">
      <tr *ngFor="let bet of getTeamBets(1)">
        <td>{{ bet.amount }}</td>
        <td>{{ bet.odd }}</td>
        <td><button (click)="onBetDelete(bet.id)">Delete</button></td>
      </tr>
    </ng-template>
  </tbody>
</table>

<h3>{{ match?.team_two }}</h3>
<table class="table">
  <thead>
    <tr>
      <th>Amount</th>
      <th colspan="2">Odd</th>
    </tr>
  </thead>
  <tbody>
    <td *ngIf="!getTeamBets(2)?.length">No bets yet.</td>
    <ng-template [ngIf]="getTeamBets(2)?.length">
      <tr *ngFor="let bet of getTeamBets(2)">
        <td>{{ bet.amount }}</td>
        <td>{{ bet.odd }}</td>
        <td><button (click)="onBetDelete(bet.id)">Delete</button></td>
      </tr>
    </ng-template>
  </tbody>
</table>
