<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email</label>
      <input type="email" formControlName="email" />
      <p *ngIf="errors.errors?.email">{{ getError("email") }}</p>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" formControlName="password" />
      <p *ngIf="errors.errors?.password">{{ getError("password") }}</p>
    </div>
    <button>Log in</button>
  </form>
  <a routerLink="/register">Register</a>
  <a routerLink="/logout">lougout</a>
</div>
