<div class="container">
  <div class="card">
    <h1>Login</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">
      <div class="login-form__fields">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput email formControlName="email" required/>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput password formControlName="password" required/>
        </mat-form-field>
      </div>
      <button
        mat-raised-button
        color="primary"
        class="login-form__button-submit"
      >
        Log in
      </button>
    </form>
    <a mat-button routerLink="/register" color="accent">Register</a>
  </div>
</div>
