<article>
  <div class="has-text-centered">
    <p class="is-size-4">
      {{ match?.team_one }}
      <span *ngIf="match?.winner_team === 1; else teamOneProfit">OK</span
      ><ng-template #teamOneProfit
        ><span
          *ngIf="match?.winner_team === null && getTeamBets(match!, 1).length"
          class="is-size-7"
          >R$ {{ match?.totals?.teamOne?.finalProfit?.toFixed(2) }}</span
        ></ng-template
      >
    </p>
    <p>vs</p>
    <p class="is-size-4">
      {{ match?.team_two }}
      <span *ngIf="match?.winner_team === 2; else teamTwoProfit">OK</span
      ><ng-template #teamTwoProfit
        ><span
          *ngIf="match?.winner_team === null && getTeamBets(match!, 2).length"
          class="is-size-7"
          >R$ {{ match?.totals?.teamTwo?.finalProfit?.toFixed(2) }}</span
        ></ng-template
      >
    </p>
  </div>

  <div>
    <a
      [routerLink]="['/matches', match!.id]"
      routerLinkActive="router-link-active"
      >Bet</a
    >
    <button (click)="onDelete(match!.id)">Delete</button>
  </div>

  <div class="level is-mobile mt-4" *ngIf="match?.winner_team">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading has-text-info-dark">Profit</p>
        <p class="title">
          R$ {{ match?.totals?.finished?.realProfit?.toFixed(2) }}
        </p>
      </div>
    </div>
  </div>
</article>
