<article>
  <div class="has-text-centered block">
    <app-team-name
      [teamName]="match!.team_one"
      [teamNumber]="1"
      [winnerTeam]="match?.winner_team"
      [realProfit]="match?.totals?.finished?.realProfit"
      [teamFinalProfit]="match?.totals?.teamOne?.finalProfit"
    ></app-team-name>
    <p>vs</p>
    <app-team-name
      [teamName]="match!.team_two"
      [teamNumber]="2"
      [winnerTeam]="match?.winner_team"
      [realProfit]="match?.totals?.finished?.realProfit"
      [teamFinalProfit]="match?.totals?.teamTwo?.finalProfit"
    ></app-team-name>
    <p
      *ngIf="
        match?.bets?.length &&
        match?.totals?.equalize?.amount === 0 &&
        match?.winner_team === null &&
        match?.totals?.teamOne?.finalProfit === 0 &&
        match?.totals?.teamTwo?.finalProfit === 0
      "
    >
      <span class="tag mt-4"
        ><span class="icon-text">
          <span class="icon">
            <fa-icon [icon]="faEquals"></fa-icon>
          </span>
          <span class="has-text-weight-bold">Equalized</span>
        </span></span
      >
    </p>
    <p
      *ngIf="
        match?.winner_team === null &&
        match?.totals?.teamOne?.finalProfit! > 0 &&
        match?.totals?.teamTwo?.finalProfit! > 0
      "
    >
      <span class="tag is-success mt-4"
        ><span class="icon-text">
          <span class="icon">
            <fa-icon [icon]="faChartLine"></fa-icon>
          </span>
          <span class="has-text-weight-bold">Winning on both</span>
        </span></span
      >
    </p>
  </div>
  <hr />
  <div class="level is-mobile block" *ngIf="match?.winner_team">
    <div class="level-item has-text-centered">
      <div>
        <p class="heading has-text-info-dark">Profit</p>
        <p
          class="title"
          [ngClass]="{
            'has-text-danger': match?.totals?.finished?.realProfit! < 0,
            'has-text-success': match?.totals?.finished?.realProfit! > 0
          }"
        >
          R$ {{ match?.totals?.finished?.realProfit?.toFixed(2) }}
        </p>
      </div>
    </div>
  </div>
  <div class="block buttons is-centered">
    <a
      *ngIf="!match?.winner_team"
      [routerLink]="['/matches', match!.id]"
      routerLinkActive="router-link-active"
      class="button is-info is-outlined is-rounded is-light"
      ><span class="icon">
        <fa-icon [icon]="faGavel"></fa-icon>
      </span>
      <span>Bet</span></a
    >
    <a
      *ngIf="match?.winner_team"
      [routerLink]="['/matches', match!.id]"
      routerLinkActive="router-link-active"
      class="button is-light is-rounded"
      ><span class="icon">
        <fa-icon [icon]="faReceipt"></fa-icon>
      </span>
      <span>History</span></a
    >
    <button (click)="onDelete(match!.id)" class="button is-danger is-rounded">
      Delete
    </button>
  </div>
</article>
