<div class="container">
  <div class="card">
    <h1>Register</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="register-form">
      <div class="register-form__fields">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password Confirm</mat-label>
          <input matInput formControlName="password_confirm" />
        </mat-form-field>
      </div>
      <button
        mat-raised-button
        color="primary"
        class="register-form__button-submit"
      >
        Register
      </button>
    </form>
    <a mat-button routerLink="/login" color="accent">Login</a>
  </div>
</div>
