<div class="box">
  <h1 class="has-text-centered title">Login</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="field">
      <label for="email" class="label">Email</label>
      <div class="control">
        <input
          type="email"
          formControlName="email"
          placeholder="Email"
          (input)="onInput()"
          class="input is-rounded"
          [ngClass]="{
            'is-danger':
              !form.get('email')?.valid &&
              formSubmitted &&
              form.get('email')?.untouched
          }"
        />
        <p
          *ngIf="form.get('email')?.errors?.['required'] && formSubmitted && form.get('email')?.untouched"
          class="help has-text-centered is-danger"
        >
          Email is required
        </p>
        <p
          *ngIf="form.get('email')?.errors?.['email'] && formSubmitted && form.get('email')?.untouched"
          class="help has-text-centered is-danger"
        >
          Email is invalid
        </p>
      </div>
    </div>
    <div class="field">
      <label for="password" class="label">Password</label>
      <div class="control">
        <input
          type="password"
          formControlName="password"
          placeholder="Password"
          (input)="onInput()"
          class="input is-rounded"
          [ngClass]="{
            'is-danger':
              !form.get('password')?.valid &&
              formSubmitted &&
              form.get('password')?.untouched
          }"
        />
        <p
          *ngIf="form.get('password')?.errors?.['required'] && formSubmitted&& form.get('password')?.untouched"
          class="help has-text-centered is-danger"
        >
          Password is required
        </p>
      </div>
    </div>
    <div class="field is-grouped is-grouped-centered">
      <p class="control">
        <button class="button is-success is-rounded">Log in</button>
      </p>
      <p class="control">
        <a routerLink="/register" class="button">Register</a>
      </p>
    </div>
  </form>
</div>
