<div class="box">
  <h1 class="has-text-centered title">Login</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="field">
      <label for="email" class="label">Email</label>
      <div class="control">
        <input
          type="email"
          formControlName="email"
          placeholder="Email"
          class="input is-rounded"
        />
      </div>
    </div>
    <div class="field">
      <label for="password" class="label">Password</label>
      <div class="control">
        <input
          type="password"
          formControlName="password"
          placeholder="Password"
          class="input is-rounded"
        />
      </div>
    </div>
    <div class="field is-grouped is-flex is-justify-content-center">
      <p class="control">
        <button class="button is-success is-rounded">Log in</button>
      </p>
      <p class="control">
        <a routerLink="/register" class="button is-ghost">Register</a>
      </p>
    </div>
  </form>
</div>
