<div class="container">
  <div class="card">
    <h1>Login</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>
        <label for="email" class="sr-only">Email</label>
        <input type="email" formControlName="email" />
        <p *ngIf="errors.errors?.email">{{ getError("email") }}</p>
      </div>
      <div>
        <label for="password" class="sr-only">Password</label>
        <input type="password" formControlName="password" />
        <p *ngIf="errors.errors?.password">{{ getError("password") }}</p>
      </div>
      <div class="login-page__buttons-container">
        <button>Log in</button>
        <a routerLink="/register">Register</a>
      </div>
    </form>
  </div>
</div>
