/* You can add global styles to this file, and also import other style files */
@import "assets/scss/reset.scss";
@import "assets/scss/colors.scss";

body {
  background-color: $black;
  color: $white;
}

html,
body {
  height: 100vh;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
